.addDog-form {
    background-color: rgba(255, 228, 196, 0.35);
    border-radius: 15px;
    border:2px solid lightgrey;
    width:555px;
    margin: auto;
    position: absolute;
    top:130px; left: 0px; right: 0px;
    height: 447px;
}

h1 {
    text-align: center;
}

h2{
    margin-top:25px;
    margin-bottom:10px;
    text-align: center;
    font-size:35px;
    font-family:sans-serif;
}

.dog-house {
    display: inline-block;
    margin-right:39px;
    margin-top: -58px;
    float: right;
    cursor: pointer;
}

.dog-paw-image {
    height: 50px;
    width: 50px;
}

.savebutton {
    margin-top:40px;
    margin-left: 15px;
    margin-right: 15px;
    width: 99px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(193, 28, 49);
    background-color: white;
    font-size: 16px;
    border-radius: 7px;
    border-width: 1px;
    cursor: pointer;
}

.centerButton{
    text-align:center;
    margin:auto;
}

input[type="text"] {
    height: 30px;
    width: 300px;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 15px;
    margin-bottom: 5px;
}

.custom-label {
    font-family: fantasy;
    font-size: 22px;
    display: inline-block;
    width: 85px;
    margin: auto;
}

.checkbox_labels{
    color:black;
    width: 350px;
    height: 8px;
    font-size: 17px;
    font-family: fantasy;
    margin: auto;
    margin-top: 16px;
}

.inputdiv{
   width: 416px;
    margin: auto;
}

