.addDog-form {
    background-color: rgba(121, 255, 24, 0.31);
    width:50%;
    border:3px solid gray;
    border-radius: 5px;
    margin: auto;
    position: absolute;
    top:91px; left: 0px; right: 0px;
    height: 475px;
}

h1 {
    text-align: center;
}

.dog-house {
    display: inline-block;
    margin-right:39px;
    margin-top: -58px;
    float: right;
    cursor: pointer;
}

.dog-paw-image {
    height: 50px;
    width: 50px;
}

.savebutton {
    margin-top:20px;
    margin-right:34px;
    width: 99px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(193, 28, 49);
    background-color: white;
    font-size: 13px;
    border-radius: 7px;
    border-width: 1px;
    cursor: pointer;
}

.centerButton{
    text-align:center;
    margin:auto;
}

input[type="text"] {
    height: 30px;
    width: 300px;
    font-size: 16px;
    font-family: sans-serif;
    margin: 12px;
}

.custom-label {
    font-family: fantasy;
    font-size: 22px;
    display: inline-block;
    width: 100px;

    margin-left:140px;
}

.checkbox_labels{
    color:black;
    width: 350px;
    font-size: 17px;
    font-family: fantasy;
    margin-top: 10px;
    margin-left: 140px;
}

h2{
    margin-top:25px;
    text-align: center;
    font-size:35px;
    font-family:sans-serif;
}

