html {
    line-height: 1.4;
}

body {
    padding: 0;
    margin: 0;
}

h2{
    margin-top:25px;
    text-align: center;
    font-size:35px;
    font-family:sans-serif;
    color: #646464;
}
form{
    height:383px;
    width:600px;
    margin:auto;
    background-color: rgba(121, 255, 24, 0.31);
    border-radius: 15px;
    border:2px solid lightgrey;
    margin-top:60px;
}
.greenbar{
    color: #6f464c;
    font-family: fantasy;
    font-size: 25px;
    width: 100%;
    background-color: rgba(121, 255, 24, 0.31);
    padding-top: 6px;
}

#name{
    margin-left:25px;
    margin: 25px;
}

#breed{
    margin-left: 25px;
    margin: 25px;
}

#sex{
    margin-left: 25px;
    margin: 25px;
}

#wght{
    width: 10px;
    margin-left: 25px;
    margin: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#weight{
    width: 25px;
    margin-left:47px;
}

#age{
    width: 25px;
    margin-left: 25px;
}

#aagg{
    width: 8px;
    margin: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#fixed{
    width: 25px;
    margin-left: 25px;
}

#fxd{
    width: 99px;
    margin-left: 25px;

}

.custom-label {
    color: #646464;
    display: inline-block;
    width: 150px;
    font-size: 23px;
    margin-top:2px;
    margin-left:13px;
    margin-bottom: 2px;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#ftr{
    background-color: rgb(165, 255, 95);
    font-family: sans-serif;
    color: #6f564c;
    height:18px;
    font-size:10px;
    padding: 7px 0px 0px 1288px;
    margin: 0px;
}

.text-box{
    font-family: sans-serif;
    font-size: 18px;
    width:68%;
    margin:auto;
    float:right;
    display: inline-block;
}

.text-area {
    display: block;
    margin: auto;
    margin-top:8px;
    margin-bottom:8px;
    font-size: 18px;
}

.label{
    font-family: fantasy;
    color: #646464;
    font-size: 22px;
    width:25%;
    display: inline-block;
    float:left;
}
.wordbutton {
    display: inline-block;
    margin-top:5px;
    margin-right:22px;
    width: 50px;
    color: #c11c31;
    float: right;
    font-size: 25px;
    font-family: fantasy;
    cursor: pointer;
}

.dog-house {
    display: inline-block;
    height: 32px;
    margin-right:34px;
    color: white;
    float: right;
    border: none;
    cursor: pointer;
}

.save-button {
    margin-top:28px;
    margin-left: 183px;
    width: 75px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(193, 28, 49);
    background-color: white;
    font-size: 16px;
    border-radius: 7px;
    border-width: 1px
}

.button-styles {
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(193, 28, 49);
    background-color: white;
    border-radius: 7px;
    border-width: 1px;
    cursor: pointer;
    font-size: 16px;
}

.main{
    width:79%;
    margin:auto;
    height: 40px;
}

.clearfix {
    clear: both;
}

