html {
    line-height: 1.4;
}

body {
    padding: 0;
    margin: 0;
}

h2{
    color: #6f564c;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 70px;
    font-family: fantasy;
    font-size:29px;
    padding: 3px 0px 0px 0px;
}

.centerButton{
    margin-bottom: 10px;
}

.greenbar{
    color: #6f564c;
    font-family: fantasy;
    font-size: 25px;
    width: 100%;
    background-color: bisque;
    padding-top: 6px;
}

#name{
    margin-left:25px;
    margin: 25px;
}

#breed{
    margin-left: 25px;
    margin: 25px;
}

#sex{
    margin-left: 25px;
    margin: 25px;
}

#wght{
    width: 10px;
    margin-left: 25px;
    margin: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#weight{
    width: 25px;
    margin-left:47px;
}

#age{
    width: 25px;
    margin-left: 25px;
}

#aagg{
    width: 8px;
    margin-left: 25px;
    margin: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#fixed{
    width: 25px;
    margin-left: 25px;
}

#fxd{
    width: 99px;
    margin-left: 25px;

}

.custom-label {
    color: #646464;
    display: inline-block;
    width: 150px;
    font-size: 23px;
    margin-top:2px;
    margin-left:6px;
    margin-bottom: 2px;
}

#appnt {
    vertical-align: top;
    font-size: 20px;
    margin-top: 15px;
    display: inline-block;
    width: 22%;
    /*cursor: pointer;*/
}

#meds {
    margin-top: 15px;
    vertical-align: top;
    font-size: 20px;
    display: inline-block;
    width: 22%;
}

#vacc {
    margin-top: 15px;
    vertical-align: top;
    font-size: 20px;
    display: inline-block;
    width: 22%;
}

#diet {
    margin-top: 15px;
    vertical-align: top;
    font-size: 20px;
    display: inline-block;
    width: 23%;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#ftr{
    background-color: bisque;
    font-family: sans-serif;
    color: #6f564c;
    height:25px;
    font-size:10px;
    font-weight: bold;
    padding: 9px 0px 0px 1288px;
    margin: 0px;
}

.plus-button {
    cursor: pointer;
    margin-left:14px;
    height: 18px;
}

.items-container{
    margin-top: 8px;
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    border-bottom: 2px solid gray;
    width: 65%;
    margin-left:30%;
    cursor: pointer;
}

.items-container div label{
    cursor: pointer;
}

.subHeader {
    display: inline-block;
    font-family: fantasy;
    font-size: 21px;
    color: #6f564c;
    margin-left: 93px;
    margin-top: 5px;
}

.subHeader:hover {
    color: rgb(193, 13, 52);
    cursor: pointer;
}

.wordbutton {
    display: inline-block;
    margin-top:5px;
    margin-right:22px;
    width: 50px;
    color: #c11c31;
    float: right;
    font-size: 25px;
    font-family: fantasy;
    cursor: pointer;
}

.dog-house {
    display: inline-block;
    height: 32px;
    margin-right:34px;
    color: white;
    float: right;
    border: none;
    cursor: pointer;
    }

.hide-info{
}

#apptBody{
    display: none;
}

#medBody{
    display: none;
}

#vaccBody{
    display: none;
}

#dietBody{
    display: none;
}

.wrapper{
    overflow:auto;
    height: 464px;
    width: 318px;

}
.modal-header{
    font-family: fantasy;
    font-size: 20px;
    color: #6f564c;
    background-color: rgba(255, 228, 196, 0.34);
    border: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.modal-body {
    display: inline-block;
    color: #646464;
    font-size: 18px;
    font-family: fantasy;
}

.modal-body div label {
    margin-bottom: 20px;
    width: 152px;
}

.modal-footer {
    background-color: rgba(255, 228, 196, 0.34);
    border: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

input{
    width: 358px;
}

textarea{
    width: 358px;
}

.vertaligntop{
    vertical-align: top;
}

button{
    margin-left: 15px;
    margin-right: 15px;
    width: 75px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(193, 28, 49);
    background-color: white;
    font-size: 13px;
    border-radius: 7px;
    border-width: 1px;
    cursor: pointer;
}

.happy{
    height: 121px;
    margin-left: 305px;
    margin-bottom: 10px;
}
.tail{
    height: 36px;
    margin-left: -39px;
    margin-bottom:51px;
    position: relative;
}

